<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Testando Node.js</title>
</head>
<body>
<h1>Teste Node.js</h1>
<p>Você está na Home</p>
<a href="products">Clique aqui pra ver a lista de produtos</a>
</body>
</html>