<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Produtos</title>
</head>
<body>
<h1>List</h1>
<p>Você está vendo a lista?</p>
<table>
    <tr>
        <td>id</td>
        <td>titulo</td>
        <td>descrição</td>
        <td>preço</td>
    </tr>
    <%for(var i = 0; i < lista.length; i++){%>
        <tr>
            <td>
                <%=lista[i].id%>
            </td>

            <td>
                <%=lista[i].titulo%>
            </td>


            <td>
                <%=lista[i].descricao%>
            </td>

            <td>
                <%=lista[i].preco%>
            </td>
        </tr>
    <%}%>
</table>
</body>
</html>